.example-spacer {
    flex: 1 1 auto;
  }

.marg-left{
  margin-left: 0.5%;
}

.logoImage{
  position: absolute;
  float: left;
  height: 40px;
  width: 40px;
  top: 10px;
  left: 10px;
}
.toolBar{
  position: relative;
}

.home{
  position: absolute;
  top: 10px;
  left: 60px;
}

.dashboard{
  position: absolute;
  top: 15px;
  left: 100px;
}